*{
    font-family: "Nunito Sans", sans-serif;
}
/* banner style */
.banner{
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
    
}
.banner-details{
  position: absolute;
  left: 847px;
  right: 228px;
  top: 216px;
  text-align: right;
}
.banner-title{
    font-size: 40px;
    font-weight: 400;
    line-height: 90px;
    
}
.banner-description{
    color: rgb(68, 67, 67);
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin-bottom: 50px;
word-wrap: break-word;
}
.banner-button{
    padding: 20px;
    border: none;
    border-radius: 5px;
    background: rgb(241, 91, 34);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
}
/* Failur details section */

.failures-content{
    display: flex;
    padding-top: 250px;
    width: 80%;
}
.failure-details{
    padding-left: 100px;
    padding-top: 100px;
    text-align: left;
    text-align: left;
}
.failure-image{
    padding-left: 400px;
}

.failure-details>h3{
    font-size: 40px;
    font-weight: 400px;
    color: rgb(41, 22, 22);
    letter-spacing: normal;

}
.failure-details ul {
    list-style: none;
    padding-left: 0%;
  }
  ul li:before {
    content: '✔';
    color: rgb(22, 216, 135);
    padding-right: 5px;
    line-height: 40px;
    font-weight: bold;
  }
  /* My Plans Section styles */
  .plan-title{
    text-align: center;
    padding-top: 200px;
    padding-bottom: 50px;
  }
  .my-plan{
    display: flex;
    align-items: center;
    padding-left: 300px;
    gap: 200px;
  }
  .plan-details{
    text-align: center;
  }
  .plan-details h4{
    font-size: 30px;
    font-weight: 100;
  }
  .plan-details h5{
    font-size: 20px;
    font-weight: 100;
    color: rgb(115, 114, 114);
  }
  /* Call Now section styles */
  .call-now{
    padding: 250px 400px 300px 500px;
    background-image: linear-gradient(90.00deg, rgb(241, 91, 34),rgba(241, 91, 34, 0) 100%), url("../images/watch.png");
    background-size: 1100px 300px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 200px;
  }
  .call-title{
    font-weight: 100;
    font-size: 40px;
    margin-right: 50%;
    padding-bottom: 10px;
    color: aliceblue;

  }
  .call-btn{
    padding: 20px 30px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255) ;
    color: rgb(241, 91, 34);
    font-size: 15px;

  }
  